<div class="bottom" style="height: 50%;">
    <div class="row">
        <div class="col">
            <div class="row">
                Học Viện Công Nghệ Bưu Chính Viễn Thông
            </div>
            <div class="row">
                Điạ chỉ: Km10, Đường Nguyễn Trãi, Q.Hà Đông, Hà Nội
            </div>
            <div class="row">
                SĐT : 09032432433
            </div>
        </div>
        <div class="col">
            <div class="mapouter" style="width: 5%;">
                <div class="gmap_canvas"><iframe width="400" height="200" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Học Viện Công Nghệ Bưu Chính Viễn thông&t=&z=10&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a></a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 200px;
                            width: 500px;
                        }
                    </style><a href="https://embedgooglemap.2yu.co"></a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 200px;
                            width: 500px;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <span class="icon-social">
                <i class='fa fa-facebook' style="font-size:24px" matTooltip="Facebook"></i>
            </span>
            <span class="icon-social">
                <i class='fa fa-instagram' style="font-size:24px" matTooltip="Instagram"></i>
            </span>
            <span class="icon-social">
                <i class="fa fa-twitter" style="font-size:24px" matTooltip="Twitter"></i>
            </span>
            <span class="icon-social">
                <i class="fa fa-telegram" style="font-size:24px" matTooltip="Telegram"></i>
            </span>
        </div>
    </div>
</div>