<app-toolbar></app-toolbar>
<div style="height: 100%; width: 100%;">
    <div class="greeting1">
        <img src="assets\greeting1.jpg" style="height: 15rem; width: 15rem;" />
    </div>
    <div class="message">
        <span style="color:red">Đặt hàng </span>
        <span style="color: rgb(42, 42, 243);">&nbsp; Địa điểm</span>
        <span style="color: red">&nbsp; Thành công</span>
    </div>
    <div class="greeting2" style="margin-top: 10px;">
        <span>nhanh lên!!! đơn hàng của bạn đã được xác nhận</span>
    </div>
    <div class="greeting2">
        <span>Vui lòng kiểm tra email của bạn</span>
    </div>
    <div class="greeting2">
        <span>Để liên lạc thêm...</span>
    </div>
    <div class="contact-heading"><span>Liên hệ chúng tôi</span></div>
    <div class="contactus">
        <div class="card">
            <mat-card class="email">
                <mat-card-title style="display: flex; justify-content: center; align-items: center; background-color: rgb(248, 195, 191);">Email chúng tôi</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">thanhcuto2109@gmail.com</mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-title style="  display: flex;  justify-content: center;  align-items: center;background-color: rgb(248, 195, 191); ">Số điện thoại</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">+91-0123456789</mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card>
                <mat-card-title style="  display: flex;  justify-content: center;  align-items: center;  background-color: rgb(248, 195, 191);    ">Địa chỉ</mat-card-title>
                <mat-card-content style="display: flex; justify-content: center; align-items: center;">Nguyễn Trãi , Hà Đông , Hà Nội</mat-card-content>
            </mat-card>
        </div>
    </div>
</div>